<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.poi.mapper.PhwdCustomerQrCodeMapper">

    <insert id="batchSave">
        insert into PHWD_CUSTOMER_QR_CODE (CUST_CODE,CUST_NAME,CUST_ADDRESS,ARTIFICIAL_PERSON,PHONE_NUMBER,CITY,CUST_ID,VALUE2) values
        <foreach collection="list" separator="," item="shop" index="a">
            (#{shop.custCode},#{shop.custName},#{shop.custAddress},#{shop.artificialPerson},#{shop.phoneNumber},#{shop.city},#{shop.custId},#{shop.value2})
        </foreach>
    </insert>
</mapper>
